/* ====================================== _____________ Reset Styles _____________ ====================================== */
* {
  outline: 0 !important;
  box-shadow: none !important;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

html {
  font-size: 100%;
  @include for_phone() {
    font-size: 85%;
  }
  @include for_miniTb() {
    font-size: 88%;
  }
  @include for_tablet() {
    font-size: 90%;
  }
  @include for_miniLt() {
    font-size: 95%;
  }
  @include for_labtop() {
    font-size: 100%;
  }
  overflow-x: hidden;
}

body {
  font-size: $mainFont;
  font-weight: 400;
  font-family: $englishFont;
  // overflow-x: hidden;
  // min-height: 100vh;
  // &.ar{
  //     font-family: $arabicFont;
  //     direction: rtl;
  //     text-align: right;
  // }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  @media (min-width: 1400px) {
    max-width: 1190px !important;
  }
}
/* ====================================== _____________ Reset Styles _____________ ====================================== */
