@import '../../../sass/utilities/variables';

.Tabs{
    justify-content: center;
    border-top: 1px solid $grayColor !important;
    border-bottom: 1px solid $grayColor !important;
    .nav-item{
        padding: 10px;
    }
    .nav-link{
        border-top: 3px solid transparent !important;
        border-bottom: 3px solid transparent !important;
        color: $grayColor !important; 
        &.active{
            border-color: $mainColor!important;
        }
    }
    &_tab{

    }
}