/* ====================================== _____________ Variables Styles _____________ ====================================== */
// start color//
$mainColor: #0083B7;
$secColor: #57bf6d;
$thirColor: #1B1B1B;
$whtColor: #fff;
$blkColor: #000;
$blkColor2: #212121;
$blkColor3: #333;
$textColor: #707070;
$offColor: #f4f4f4;
$grayColor: #8A8A8A;
// end color//

// Start Bg Color//
$overlayBg: rgba($color: $blkColor, $alpha: .45);
// end Bg Color//

// Font Sizes //
$xsFont: .8rem; // 12.8px
$smFont: .85rem; //13.6px
$paragraphFont: .95rem; // 15.2px;
$mainFont: 1rem; // 16px;
$mdFont: 1.15rem; //18.4px
$lgFont: 1.25rem; // 20px;
$xlFont: 1.4rem; // 22.4px;
$xxlFont: 1.6rem; // 25.6px;
$xxxlFont: 1.8rem; // 28.8px;
$bannerTextFont: 2rem; // 32px;
$bannerHeadFont: 2.5rem; // 40px;
// Font Sizes //

// Font Weight //
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 600;
$fontBold: 800;
$fontBolder: 900;
// Font Weight //

// Transition //
$fsTransition: all .2s ease-in-out;
$transition: all .3s ease-in-out;
$slTransition: all .5s ease-in-out;
// Transition //

// Fonts Family //
$englishFont: 'Roboto';
// $arabicFont: 'Obviously Demo';
$titleFont: 'Obviously Demo';
// Fonts Family //
/* ====================================== _____________ Variables Styles _____________ ====================================== */